app-input {
    display: block;
    width: 100%;
    height: 100%;

    slot[name="title"] {
        display: block;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    .error {
        opacity: 1;
        transition: 0.5s;
        color: red;

        margin-top: 2px;

        min-height: 15px;
        font-size: 13px;
    }

    .error[transparent] {
        opacity: 0;
    }
}
